<div id="left-header" class="mt-l">
    <div id="photo-container">
        <img alt="ma photo" title="Ici c'est la photo du mec" src="{{ asset('photos/s1-mountain.png') }}">
    </div>
</div>

<div id="left-content">
    <article id="a-propos">
        <div class="content-title" >
            <h4>A propos</h4>
        </div>
        <div class="content-text">
            <p>
                Je suis un papa de deux enfants passionné par les nouvelles technologies et l'informatique depuis
                mon plus jeune age. Je souhaite mettre mes compétences au service des entreprises et de leurs clients,
                auprès de qui je saurai me montrer force de proposition à l'issue de l'analyse de leur besoin.
            </p>
        </div>
    </article>

    <article id="softskill">
        <div class="content-title" >
            <h4>Soft Skills</h4>
        </div>
        <div class="content-text">
            <ul>
                <li>
                    <p>Coopératif</p>
                </li>
                <li>
                    <p>Passionné</p>
                </li>
                <li>
                    <p>Autonome</p>
                </li>
                <li>
                    <p>Rigoureux</p>
                </li>
                <li>
                    <p>Initiative</p>
                </li>
                <li>
                    <p>Sociable</p>
                </li>
            </ul>
        </div>
    </article>

    <article id="langues">
        <div class="content-title">
            <h4>Langues</h4>
        </div>
        <div class="content-text">
            <ul>
                <li>
                    <div class="lang-content">
                        <img src="{{ asset('images/flags/Flag_of_France.svg.png') }}" width="16" height="12"
                             title="Mon niveau général en français" alt="drapeau de la france">
                        <div class="skills">
                            <div class="skill" style="width:85%"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="lang-content">
                        <img src="{{ asset('images/flags/Flag_of_the_United_Kingdom.svg.png') }}" width="16"
                             title="Mon niveau général en anglais" alt="drapeau du royaume unie">
                        <div class="skills">
                            <div class="skill" style="width:70%"></div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="lang-content">
                        <img src="{{ asset('images/flags/Flag_of_Germany.svg.png') }}" width="16"
                             title="Mon niveau général en allemand" alt="drapeau de l'allemagne">
                        <div class="skills">
                            <div class="skill" style="width:30%"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </article>

    <article id="loisirs">
        <div class="content-title">
            <h4>Mes loisirs</h4>
        </div>

        <div class="content-text">
            <ul>
                <li>
                    <p>Musique</p>
                </li>
                <li>
                    <p>Football</p>
                </li>
                <li>
                    <p>Bricolage</p>
                </li>
            </ul>
        </div>

    </article>

    <article id="contact-me">
        <div class="content-title">
            <h4>Me contacter</h4>
        </div>

        <div class="content-text">
            <ul>
                <li>
                    <i class="bi bi-telephone"></i>
                    <a href="tel:+33685252965" title="Cliquez pour appeler sur ma ligne direct">
                    (33) 06 85 25 29 65
                    </a>
                </li>
                <li>
                    <i class="bi bi-envelope-at"></i>
                    <a href="mailto:naudinni@gmail.com" title="Cliquez pour m'écrire un e-mail">
                        Naudinni@gmail.com
                    </a>
                </li>
                <li>
                    <i class="bi bi-geo-alt"></i>
                    <a href="https://goo.gl/maps/wfYroCbJm29bvBRSA" title="Cliquez pour voir ma position sur Google Maps" target="_blank">
                        Tournan-en-Brie
                    </a>
                </li>
                <li>
                    <i class="bi bi-linkedin"></i>
                    <a href="https://www.linkedin.com/in/nicolas-naudin" title="Cliquez pour voir mon profil linkedin" target="_blank">
                        Linkedin
                    </a>
                </li>
                <li>
                    <i class="bi bi-github"></i>
                    <a href="https://github.com/cHoXu" title="Cliquez pour voir mon activité Github" target="_blank">
                        Github
                    </a>
                </li>
            </ul>
        </div>

    </article>
</div>

